@import '../../../styles/_variables'

.hitems
    width: 100%
    min-height: 50vh
    padding: 0 5rem
    overflow: hidden
    margin-bottom: 5rem
    @media only screen and (max-width: 500px)
        padding: 0 1rem
    &__container
        margin-top: 2rem
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        gap: 1rem
